/* lines home page */
.line-1 {
  position: absolute;
  width: 70rem;
  height: 2px;
  left: 0;
  top: 53vh;
}

.line-2 {
  position: absolute;
  top: 0;
  right: 44.5vw;
  width: 2px;
  height: 24rem;
}

.line-3 {
  position: absolute;
  bottom: 0;
  right: 30vw;
  width: 2px;
  height: 36rem;
}

/* bio */
.home-info {
  width: 850px;
  height:50px;
  position: absolute;
  bottom: 36vh;
  left: 155px;
}
.home-info p {
  margin: 0;
  font-weight: normal;
  font-size: 1.3rem;
}

/* nav bar */
.nav {
  position: absolute;
  bottom: 14vh;
  left: 4vw;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  margin: 35px;
  font-size: 2.5rem;
}
.nav-list li:hover {
  cursor: pointer;
}

/* BEN ZHAO text home page */
.name-div {
  position: absolute;
  height: 110px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 24vh;
  right: 15.5vw;
}

.header-name1 {
  display: block;
  width: 160px;
  height: 91px;
  align-self: flex-start;
}

.header-name2 {
  display: block;
  width: 222.19px;
  height: 91px;
  align-self: flex-end;
}

.header-name1 h1 {
  font-size: 5rem;
  font-weight: normal;
}

.header-name2 h1 {
  font-size: 5rem;
  font-weight: normal;
}

/* FULL-STACK developer text  */
.header-div {
  position: absolute;
  display: flex;
  width: 800px;
  height: 140px;
  align-items: center;
  justify-content: space-between;
  top: 33vh;
  left: 13.5vw;
}
.header-text-div1 {
  width: auto;
  height: 91px;
  align-self: flex-start;
}
.header-text-div2{
  height: 55px;
  align-self: flex-end;
}
.header-text1 {
  font-size: 5rem;
  font-weight: normal;
}
.header-text2 {
  font-size: 3rem;
  font-weight: normal;
}


/* line project page */
.line-p-1 {
  width: 2px;
  height: 45rem;
  position: absolute;
  left: 13vw;
  bottom: 0;
}
.line-p-2 {
  width: 22rem;
  height: 2px;
  position: absolute;
  right: 0;
}


/* BEN ZHAO project name header */
.name-p-div {
  align-items: center;
  display: flex;
  width: 630px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 8vh;
}

.p-name-header {
  /* position: absolute; */
  display: inline-block;
  font-size: 2.5rem;
  font-weight: normal;
}

/* projects-div */
.projects-div {
  /* width: 1020px; */
  height: 600px;
  position: absolute;
  right: 22.5vw;
  top: 25vh;
  text-align: right;
  /* display: flex; */
  /* align-items: flex-start; */
}
.project-catalogue {
  font-size: 1.5rem;
  font-weight:200;
}
.project-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: baseline;
  column-gap: 15px;
  margin-top: 40px;
  /* color: black; */
  text-decoration: none;
}
.project-info {
  font-size: 1.2rem;
}
.project-title {
  font-size: 3rem;
}
.project-des {
  display: block;
  text-align: left;
  position: absolute;
  top: 35vh;
  left: 22.5vw;
  width: 450px;
  height: 600px;
  font-size: 1.2rem;
}
.project-des p {
  margin: 0;
  line-height: 25px;
}

/* contact page  */

.contact-div {
 position: absolute;
 display: flex;
 top: 43vh;
 right: 40vw;
 justify-content: center;
 align-content: center;
 text-align: left;
 padding: 0;
}

.contact-div ul{
  list-style: none;
  font-size: 1.3rem;
  font-weight: normal;
}

.contact-div ul li {
  margin-top: 15px;
}

.contact-div ul li a {
  text-decoration: none;
  /* color: black; */
}

/* light/dark mode  */

.mode {
  display: flex;
  width: 220px;
  height: 26px;
  position: absolute;
  bottom: 3vh;
  justify-content: space-between;
  align-items: center;
  right: 6.5vw;
}

.checkbox-container {
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  display: inline-block;
  margin-right: 10px;
  top: 0;
  left: 0;
  height: 16.5px;
  width: 16.5px;
  border-style: solid;
  border-width: 1px;
}
.light-box:checked ~ .checkmark {
  background-color: black;
}
.dark-box:checked ~ .checkmark {
  background-color: white;
}



/* anything below is currently not okay */
@media (min-width: 1366px) and (max-width: 1536px){
  /* home page */
  .line-1 {
    width: 49rem;
  }
  .line-2 {
    height: 16rem;
  }
  .line-3 {
    height: 25rem;
  }
  .home-info {
    width: 750px;
    left: 130px;
  }
  .home-info p {
    font-size: 1.1rem;
  }
  .nav-list li {
    font-size: 1.7rem;
  }
  .name-div {
    height: 110px;
    width: 310px;
    top: 30vh
  }
  .header-name1 h1 {
    font-size: 3.7rem;
  }
  .header-name2 h1 {
    font-size: 3.7rem;
  }
  .header-div {
    top: 30vh;
    left: 9.5vw;
    width: 663px;
    height: 120px;
  }
  .header-text1 {
    font-size: 4rem;
    font-weight: normal;
  }
  .header-text2 {
    font-size: 2.7rem;
    font-weight: normal;
  }

  /* project page */
  .line-p-1 {
    height: 31rem;
  }
  .line-p-2 {
    width: 16rem;
  }
  .name-p-div {
    width: 465px;
  }
  .p-name-header {
    font-size: 2rem;
  }
  .project-des {
    width: 200px;
  }
  
  /* theme */
  .mode {
    right: 2vw;
  }
}

@media (min-width: 1536px) and (max-width:1910px) {
  .line-1 {
    width: 57rem;
  }
  .line-2 {
    height: 20.7rem;
  }
  .line-3 {
    height: 28rem;
  }
  .home-info {
    width: 750px;
    left: 135px;
  }
  .home-info p {
    font-size: 1.2rem;
  }
  .nav-list li {
    font-size: 2rem;
  }
  .name-div {
    height: 110px;
    width: 345px;
    top: 32vh
  }
  .header-name1 h1 {
    font-size: 3.9rem;
  }
  .header-name2 h1 {
    font-size: 3.9rem;
  }
  .header-div {
    top: 34vh;
    left: 8.5vw;
    width: 720px;
    height: 126px;
  }
  .header-text1 {
    font-size: 4.5rem;
    font-weight: normal;
  }
  .header-text2 {
    font-size: 2.7rem;
    font-weight: normal;
  }

  /* project page */
  .line-p-1 {
    height: 35rem;
  }
  .line-p-2 {
    width: 17rem;
  }
  .name-p-div {
    width: 500px;
  }
  .p-name-header {
    font-size: 2rem;
  }
  .project-des {
    width: 260px;
  }
  /* theme */
  .mode {
    right: 3vw;
  }
}
@media (min-width: 1920px) {
  
}